#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['table', 'layer'], function () {
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;

        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-150'    //容器高度
            , cols: [[                  //标题栏
              
                 {field: 'account', title: '账号', width: 150}
                , {field: 'userName', title: '用户名称', width: 150}
                , {field: 'aliUserId', title: '用户编号', width: 120}
                , {field: 'priority', title: '优先级', width: 150}
                , {field: 'limitCountSet', title: '汇款上限', width: 150}
                , {field: 'processNum', title: '正在支付个数', width: 150}
                , {field: 'processCount', title: '支付次数', width: 150}
                , {field: 'processSuccNum', title: '成功支付次数', width: 150}
                , {field: 'limitCount', title: '当日汇款金额', width: 150}
                , {field: 'amountCount', title: '总汇款金额', width: 150}
            ]]
            , url: '#(ctxPath)/pay/payMonitor/aboutMyTableData'
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
            }
        });

        table.on('tool(dateTable)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    util.sendAjax ({
                        type: 'POST',
                        url: '#(ctxPath)/pay/payMonitor/delete',
                        data: {id : data.id},
                        loadFlag: true,
                        success : function(data){
                            layer.close(index);
                            reloadTable($('#name').val(), $('#phone').val());
                        },
                        unSuccess: function (data) {
                            layer.close(index);
                        }
                    })
                });
            }
        });

        reloadTable = function (account, userName) {
            table.reload('dateTable', {
                url: '#(ctxPath)/pay/payAccount/aboutMyTableData'
                ,where: {account: account, userName: userName} //设定异步数据接口的额外参数
            });
        }

        form.on('submit(search)', function(data){
            reloadTable(data.field.account, data.field.userName);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });


</script>
#end

#define content()
    <div class="layui-fluid">
        <form id="searchForm" class="layui-form x-center" action="" >
            <div class="layui-form-pane">
                <div class="layui-form-item">
                    <label class="layui-form-label">账号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="account" name="account" placeholder="账号" class="layui-input"/>
                    </div>
                    <label class="layui-form-label">用户名称</label>
                    <div class="layui-input-inline">
                        <input type="text" id="userName" name="userName" placeholder="用户名称" class="layui-input"/>
                    </div>
                    <div class="layui-input-inline" style="width : 80px">
                        <button class="layui-btn"  lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div class="layui-row">
            <table id="dateTable" lay-filter="dateTable"></table>
        </div>
    </div>

<script type="text/html" id="barOption">
    #shiroHasPermission('/pay/payAccount/update')
    <a class="layui-btn layui-btn-xs" lay-event="edit">设置</a>
    #end
</script>
#end